<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    p>lorem
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores pariatur 
        iure ducimus voluptatibus nemo sunt. Praesentium animi sapiente, non id 
        soluta perferendis blanditiis quod ipsam amet cumque omnis necessitatibus nam.
    </p>

    div.container>p>lorem

    <div class="container">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Voluptatibus aliquam similique quam asperiores placeat deserunt doloremque atque, 
            iste ipsa voluptate nemo, commodi rem quasi enim recusandae! Impedit labore quo 
            maxime.
        </p>
    </div>
    

</body>
</html>