<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    div.container>h2+p>lorem^p>a

    <div class="container">
        <h2></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Vero impedit nisi, nostrum facilis corrupti sapiente dolorem eum illo voluptate incidunt 
            qui quo animi magni. Amet illum perspiciatis veniam deleniti iste.
        </p>
        <p>
            <a href=""></a>
        </p>
    </div>
    
</body>
</html>