<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    .container>h1{Course}+p>lorem
    
    <div class="container">
        <h1>Course</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Ratione eum cupiditate similique est et cum error minima dolore? Ad qui est sint quasi tempora sit id at, ullam quae cupiditate.</p>
    </div>
    
    .container>h1{Course}+p>lorem>a{Click Here}+p

    <div class="container">
        <h1>Course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor obcaecati ad quae 
            voluptatibus velit voluptatum perspiciatis voluptatem numquam nihil nemo esse accusamus 
            tempore eius veritatis, ipsum illo fuga aperiam laudantium.
        </p>
    </div>

    .container>h1{Course}+p>lorem>a{Click Here}^p
    
    <div class="container">
        <h1>Course</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis molestiae dolorem minima 
            velit optio alias sequi recusandae voluptatem aspernatur accusamus. Labore error eum quia ex
            deserunt quisquam debitis ipsum aut!
            <p></p>
        </p>
    </div>

    .container>h1{Course}+(p>lorem>a{Click Here})+p

    <div class="container">
        <h1>Course</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Voluptatibus tempore beatae nostrum doloribus dignissimos obcaecati accusantium commodi nam, 
            dolorum pariatur eveniet nisi hic rerum possimus quibusdam numquam nesciunt laudantium minus.
        </p>
        
        <p></p>
    </div>
    
    .container>h1{Course}+(p>lorem+a{Click Here})+p
    
    <div class="container">
        <h1>Course</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Deserunt eveniet modi doloremque cupiditate explicabo excepturi 
            minima minus at repudiandae temporibus. Dolorum veniam natus dolor, 
            ratione laudantium voluptatibus. Repellendus, deleniti repellat?
            <a href="">Click Here</a>
            </p>
        <p></p>
    </div>
</body>
</html>