<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intro</title>
</head>
<body>
    
    div.container
    <div class="container"></div>
   
    .container
    <div class="container"></div>

    h1.block
    <h1 class="block"></h1>

    #container
    <div id="container"></div>

    #container.block-1
    <div id="container" class="block-1"></div>

    #container.block-1.block-2.block-3
    <div id="container" class="block-1 block-2 block-3"></div>

    ul>li
    <ul>
        <li></li>
    </ul>

    ul.style>li>a{CLICK HERE}
    <ul class="style">
        <li><a href="">CLICK HERE</a></li>
    </ul>

    h1{Maycon Ribeiro}+ul.style>li>a{CLICK HERE}
    <h1>Maycon Ribeiro</h1>
    <ul class="style">
        <li><a href="">CLICK HERE</a></li>
    </ul>

    
</body>
</html>