<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    div.container>p>lorem

    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Totam aspernatur perspiciatis reprehenderit natus, sequi iste voluptatibus
             debitis obcaecati nihil fuga quam aliquid impedit sint ex eveniet perferendis 
             explicabo cum provident?
        </p>
    </div>

    div.container>p>lorem^p>lorem
    
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima maxime et eos natus quas! Rerum blanditiis debitis quod officiis? Dolores obcaecati quisquam dolore alias numquam illum rerum temporibus cum placeat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus neque nihil sequi? Nobis temporibus id consequuntur impedit dolores doloribus tempore soluta quam ipsa reiciendis voluptates velit, cumque sunt eum rerum!</p>
    </div>
    
</body>
</html>
