<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
       
    div.block+h1{the title}+p*3

    <div class="block"></div>
    <h1>the title</h1>
    <p></p>
    <p></p>
    <p></p>

    div.block+h1{the title}+p{lorem}*3
    
    <div class="block"></div>
    <h1>the title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi laborum totam, atque iusto facilis voluptatibus
        molestiae dolor qui? Nobis cum voluptatum iste ipsum natus nam asperiores pariatur nulla necessitatibus!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi laborum totam, atque iusto facilis voluptatibus
        molestiae dolor qui? Nobis cum voluptatum iste ipsum natus nam asperiores pariatur nulla necessitatibus!</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi laborum totam, atque iusto facilis voluptatibus
        molestiae dolor qui? Nobis cum voluptatum iste ipsum natus nam asperiores pariatur nulla necessitatibus!</p>

    .blocks*2>h2{sub-title}+img+p>lorem    

    <div class="blocks">
        <h2>sub-title</h2>
        <img src="" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed nobis ab dolores placeat natus 
            laudantium modi nesciunt libero fugiat vel quod, obcaecati eligendi debitis maiores tenetur 
            doloribus, temporibus exercitationem minus.</p>
    </div>
    <div class="blocks">
        <h2>sub-title</h2>
        <img src="" alt="">
        <p>Error saepe nostrum, impedit eius officiis maiores nesciunt necessitatibus. Blanditiis 
            obcaecati consequatur quod alias tenetur, dignissimos reprehenderit reiciendis voluptatem at,
             quaerat provident amet magnam facere suscipit, sint illum quibusdam veniam.</p>
    </div>    

    
</body>

</html>